@use 'base';

.AdminSub {
    margin: 0 0 15px 0;
    text-align: center;
}

.AdminPassword {
    width: 398px;
    max-width: calc(100% - 2px - 60px);
    padding: 12px 20px;
    outline: none;
    border: solid 1px base.$text;
    border-radius: 15px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    margin-top: 10px;
    color: base.$text;
}

.AdminSubmit {
    font-family: Montserrat, sans-serif;
    background-color: base.$text;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 0;
    border-radius: 15px;
    width: 440px;
    max-width: calc(100% - 20px);
    margin-top: 6px;
    color: white;
    @include base.hover();
    transition: background-color .1s linear;
}

.AdminCategory {
    font-family: Montserrat, sans-serif;
    background-color: base.$text;
    font-size: 18px !important;
    font-weight: 400;
    padding: 12px 0;
    border-radius: 15px;
    width: 440px;
    margin-top: 10px;
    color: white;
    @include base.hover();
    transition: background-color .1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MaxWidth {
    max-width: calc(100% - 40px);
}

.Width100 {
    width: 100%;
}

.AdminPanelSub {
    font-size: 24px;
    margin: 0;
    font-weight: 500;
}

.AdminInput {
    width: 398px;
    padding: 10px 20px;
    outline: none;
    border: solid 1px base.$text;
    border-radius: 15px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    color: base.$text;
    font-weight: 500;
    resize: vertical;
    max-height: 400px;
    min-height: 21px;
}

.ItemBox {
    margin-top: 10px;
    width: 400px;
    max-width: calc(100% - 60px);
    padding: 10px 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.1);
}

.ItemBox2 {
    margin-top: 10px;
    width: 600px;
    max-width: calc(100% - 60px);
    padding: 10px 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.1);
}

.ItemBoxSub {
    font-size: 20px;
    font-weight: 500;
}

.ItemTip {
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.5;
}

.ItemChange {
    font-family: Montserrat, sans-serif;
    background-color: base.$text;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    border-radius: 15px;
    width: 100%;
    margin-top: 6px;
    color: white;
    @include base.hover();
    transition: background-color .1s linear;
}

.ItemDelete {
    background-color: rgb(150, 50, 50);
}

.BoxInput {
    width: calc(100% - 42px);
}

.BoxBtn {
    width: 100%;
}

.AdminBack {
    text-decoration: underline;
    cursor: pointer;
    @include base.hover();
    margin-bottom: 10px;
}

.DateInput {
    resize: none;
}

.SelectInput {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: solid 1px base.$text;
    border-radius: 15px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    color: base.$text;
    font-weight: 500;
    resize: vertical;
    max-height: 200px;
    min-height: 21px;
}

.ItemImg {
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
}

.AdminError {
    color: rgb(220, 50, 50);
    margin-top: 5px;
}

.FileInput {
    margin-top: 10px;
    width: calc(100% - 2px);
    height: 100px;
    border: solid 1px rgba(21, 21, 21, 0.2);
    position: relative;
    transition: background-color 0.1s linear;

    &:hover {
        background-color: rgba(21, 21, 21, 0.1);
    }

    .FileInfo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .FileText {
            display: flex;
            flex-direction: row;
            align-items: center;

            .FileTextLoad {
                margin-left: 5px;
            }
        }

        .FileClue {
            font-size: 12px;
            opacity: 0.7;
            margin-top: 5px;
            padding: 0 10px;
            text-align: center;
        }
    }

    .Showed {
        display: flex;
    }

    input {
        z-index: 5;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 !important;
        margin: 0 !important;
        opacity: 0;
        cursor: pointer;
    }
}

.FileClear {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 5px;
    display: none;
}

.FileClear.Showed {
    display: block;
}

.ql-editor, .ql-blank {
    min-height: 150px !important;
}

.ql-tooltip, .ql-picker-options {
    background-color: white;
    z-index: 6;
}

.ReactQuill {
    z-index: 6;
}

.DocumentShow {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    text-decoration: underline;
}